#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  background-color: rgb(46, 44, 44);
  color: white;
}

.App {
  width: 100vh;
  height: 100vh;
}

.btnD,
.btnR {
  background-color: aqua;
  color: rgb(46, 44, 44);
}

.btnD:disabled, .btnR:disabled {
  background-color: #ccc;
  cursor: none;
}

.btnD:disabled:hover, .btnR:disabled {
  border: none;
}
